@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

* {
  font-family: "Varela Round", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  background-color: #36454f;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 5vh;
  background-color: #2b2a33;
}

.navbar a {
  text-decoration: none;
  color: white;
  padding: 0.75rem 1rem;
}

.site-home {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 24px;
  margin: 0 3rem;
}

.navbar-ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style: none;
  margin: 0 3rem;
  height: 100%;
}

.navbar-ul li {
  display: flex;
  align-items: stretch;
  height: 100%;
  transition: all 0.3s ease;
}

.navbar-ul li.active {
  background-color: #3d3b47;
}

.navbar-ul li:hover {
  background-color: #504e5e;
}

.navbar-toggler {
  cursor: pointer;
  display: none;
  margin: 0 3rem;
}

.navbar-toggler div {
  width: 1.5rem;
  height: 0.1rem;
  margin: 0.4rem;
  background: darkgray;
}

.search-images-div {
  padding: 1rem 1.5rem;
}

.documentation-div {
  padding: 1rem 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.doc-p-div {
  flex-flow: column;
  color: white;
}

.about-div {
  padding: 1rem 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-p-div {
  flex-flow: column;
  color: white;
}

.about-p-div a {
  text-decoration: none;
  color: turquoise;
}

h1, h3 {
  text-align: center;
  color: white;
}

h3 {
  margin: 0;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}

#search-txt {
  width: 50%;
  max-width: 400px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  font-size: 14px;
  color: #333;
  background-color: white;
}

#search-btn {
  padding: 10px 20px;
  margin-left: 20px;
  background-color: turquoise;
  color: white;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  font-size: 14px;
  cursor: pointer;
}

.search-results {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

.img-card {
  margin-bottom: 60px;
  width: 30%;
  height: 100%;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  overflow: hidden;
  background-color: ivory;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.loaded {
  opacity: 1;
}

.img-card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  margin-bottom: 10px;
  transition: filter 0.3s ease;
}

.img-card:hover img {
  filter: brightness(70%);
}

.img-card a {
  font-size: 14px;
  text-decoration: none;
  color: #333;
  background-color: ivory;
  display: block;
  padding-bottom: 5px;
  text-transform: capitalize;
}

.img-card p {
  margin: 5px 10px;
  background-color: ivory;
}

.img-card a:hover {
  color: teal;
}

#load-more-btn {
  background-color: #008cba;
  font-size: 14px;
  text-align: center;
  display: block;
  border: none;
  color: white;
  padding: 10px 20px;
  margin: 0px auto 50px;
  border-radius: 5px;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .navbar-ul {
    position: fixed;
    top: 5vh;
    right: 0;
    width: 40%;
    height: 95vh;
    margin: 0;
    padding: 0;
    background-color: #2b2a33;
    flex-direction: column;
    justify-content: flex-start;
    transform: translateX(100%);
    transition: 0.1s ease-in;
  }

  .responsive {
    transform: translateX(0%);
  }

  .navbar-toggler {
    display: block;
  }

  .navbar-ul li {
    width: 100%;
    height: 7.5%;
  }

  .navbar-ul li a {
    width: 100%;
    padding: 1.5rem;
  }

  .img-card {
    width: 45%;
  }
}

@media screen and (max-width: 480px) {
  .img-card {
    width: 100%;
  }
}